<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    HTML 의 주석  (다른 언어에서 주석확인하고 싶으면 '컨트롤 + /' 으로 한줄전체를 주석해보자)  -->
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
<!--    폰트사이트에서 웹페이지에서사용하기 를 복붙하면 body 에서 사용할 수 있다.    -->
        @font-face {
            font-family: 'YoonChildfundkoreaMinGuk';
             src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaMinGuk.woff2') format('woff2');
           font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
<!--    <body style="background-color: pink;">   style : css?? css의 역할?? / background-color: 화면전체를 핑크색으로 만들어줌    -->
<!--    <h1 style="background-color: gray;">여기 출력되는 문장의 배경을 회색으로 만들어줌</h1>  -->

    <hi>어려어려어려렵따</hi>
    <hi style = "font-family: 'YoonChildfundkoreaMinGuk';">멋쟁이 토마토</hi>
    <hi style = "font-family: 'YoonChildfundkoreaMinGuk';">토</hi>
    <hi style = "font-family: 'YoonChildfundkoreaMinGuk';">마</hi>
    <hi style = "font-family: 'YoonChildfundkoreaMinGuk';">토</hi>

    <script>
        alert("Hello, 응혁")      <!-- alert(" ") : 홈페이지 들어가면 에러메세지창 뜨듯이 새로 창이뜨는데 거기에 나오는 메세지 -->
    </script>
</body>
</html>